
<div id="msgList">
  <ul id='msgUl'>
  </ul>
</div>
<!--<form method="post" enctype="multipart/form-data">
  {% csrf_token %}-->
<div id="sub-container-main-bottom">
  <div id="msgSender-container">
    <div id="msgSender-left">
      {{ fileform }}
    </div>
    <div id="msgSender-main">
      <div name="text" id="toSend" contenteditable></div>
    </div>
    <div id="msgSender-right">
    </div>
  </div>
  <button type="submit" id="messageSubmit" name="sendMessage"> Send </button>
</div>
<!--</form>-->