 <!DOCTYPE html>
 <html>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'Messagerie/conversation.css' %}">
    </head>
    <div class="container">
        <div class="sub-container-left">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="convName">
                <button type="submit" name="createConv" value=1> Create a conv </button>
            </form>
            {% if conv_list %}
            <ul>
                {% for conv in conv_list %}
                <form method="post">
                    {% csrf_token %}
                    <label> {{ conv.Name }} </label>
                    <button type="submit" name="selectConv" value="{{conv.id}}"> Select </button>
                    <button type="submit" name="deleteConv" value="{{conv.id}}"> Delete </button>
                    <br>
                </form>
            {% endfor %}
        </ul>
            {% else %}
            <p>No conv are available.</p>
            {% endif %}
        </div>
        <div class="sub-container-main">
            <p>{{ conv_shown.Name }} </p>
            {% if current_dir is not None and current_dir != conv_shown.dir and current_dir != ""%}
            <form method="post">
                {% csrf_token %}
                <label>{{ current_dir.title }}</label>
                <button type="submit" name="current_dir" value="{{current_dir.id}}"> Back </button>
                <br>
            </form>
            {% endif %}
            {% for dir in list_subdir %}
            <form method="post">
                {% csrf_token %}
                <label> {{ dir.title }} </label>
                <button type="submit" name="selectDir" value="{{dir.id}}"> Select </button>
                <button type="submit" name="deleteDir" value="{{dir.id}}"> Delete </button>
                <button type="submit" name="enterDir" value="{{dir.id}}"> Enter </button>
                <br>
            </form>
            {% endfor %}
            {% for file in list_files %}
            <form method="post">
                {% csrf_token %}
                <label> {{ file.Title }} </label>
                <button type="submit" name="selectFile" value="{{file.id}}"> Select </button>
                <button type="submit" name="deleteFile" value="{{file.id}}"> Delete </button>
                <button type="submit" name="downloadFile" value="{{file.id}}"> Download </button>
                <br>
            </form>
            {% endfor %}
        </div>
        <div class="sub-container-right">
            <form method="post">
                {% csrf_token %}
                <input type="text" id="dirName" name="directoryName">
                <button type="submit" name="addDir">Ajouter un Dossier</button>
            </form>
            {% if conv_list %}
                <form method="post">
                    {% csrf_token %}
                    <label for="userToAdd">E-Mail</label>
                    <input type="text" id="userToAdd" name="userToAdd">
                    <button type="submit" name="addToConv">Ajouter</button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="toFiles"><img src="/media/website/file.png" alt="Files"></button>
                </form>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="logout">Logout</button>
            </form>
            {% if list_user %}
            <ul>
                {% for user in list_user %}
                    <label>{{ user.username_value }}</label>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="kickUser" value="{{ user.id }}"> Kick </button>
                        <button type="submit" name="banUser" value="{{ user.id }}"> Ban </button>
                        <button type="submit" name="whisper" value="{{ user.id }}"> MP </button>
                    </form>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
 </html>